<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Fax: {{ site.fax_number }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>       
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
  </div>
</footer>